<h2>Angular Builtin Pipes</h2>
 <h3>{{ name }}</h3>
 <h3>{{ name | lowercase }}</h3>
 <h3>{{ name | uppercase }}</h3>
 <h3>{{ name | lowercase }}</h3>
 <h3>{{ person | json }}</h3>
 <h3>{{ name | lowercase }}</h3>
 
 <h3>{{5.678 | number:'1.2-3'}}</h3>
 <h3>{{5.678 | number:'3.4-5'}}</h3>
 <h3>{{5.678 | number:'3.1-2'}}</h3>

 <h2>{{ .25 | percent }}</h2>


 <div class="header">Header</div>

 <p class="three">This is my second paragraph.</p>
 
 <div class="first">
    <span>Span 1!</span>
    <span>Span 2</span>
    <span>Span 3!</span>
    <span>Span 4</span>
    <span>Span 5!</span>
    <span>Span 6</span>
    <span>Span 7!</span>
  </div>


  
 <div id="container">            
    <p>First</p>
     <div>
         <p>Child Paragraph</p>
     </div>
    <p>Second</p>
    <p>Third</p>      
 </div>