<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>

<ng-template #coursesList>List of Courses</ng-template>

<ng-template #noCourses>
  No courses yet
</ng-template>

<div><h3>Switchcase :: </h3></div>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Display Map</div>
  <div *ngSwitchCase="'list'">Display List</div>
  <div *ngSwitchDefault> Default View </div>
</div>

<h3> *NgFor with different parameters :</h3>
<div *ngFor="let course of courseList; index as i;even as isEven">
    <div>{{i}} - {{course.name}} <span *ngIf="isEven"> - Even Row</span></div>
</div>

<div appBasicHighlight>Basic Directive</div>
<div appDropdown>Custom Directive for Dropdowns</div>

<sample-obs></sample-obs>
<operator></operator>
<pipes></pipes>